

/*HEADER*/
#subTitle{
    margin-left: 15px;
    font-size: 16px;
}

#navbar a{
    
}

#navbar a:hover{
    background-color: #33D633;
    color:white;
}

#navbar .active a{
    background-color: #33D633;
}

/*SIDEBAR*/
.side-bar{

	height: 300px;
	overflow: hidden;
}

.side-bar p{
    border-bottom: 1px solid lightgrey;    
    height: 100px;
}

.side-bar p:hover{
   background-color: #F8F8F8;    
}

.side-bar a{
    color: black;
    text-decoration: none;
}
